<div>
	<div class="form-container">
		<form name="infoForm">
			<div class="form-row">
				<label for="payment-term">Payment Term</label>
				<select id="payment-term" name="paymentTerm" required="required" ng-model="infoFormData.paymentTerm"
				        ng-options="term for term in paymentTerms"></select>
			</div>
			<div class="form-row">
				<label for="amount">Amount</label>
				<input id="amount" name="amount" required="required" ng-model="infoFormData.amount"/>
			</div>
			<div class="form-row">
				<label for="hours-per-day">Hours per day</label>
				<input id="hours-per-day" name="hoursPerDay" required="required" ng-model="infoFormData.hoursPerDay"/>
			</div>
			<div class="form-row">
				<label for="days-per-week">Days per week</label>
				<input id="days-per-week" name="daysPerWeek" required="required" ng-model="infoFormData.daysPerWeek"/>
			</div>
			<div class="form-row">
				<label for="holiday">Holiday (days)</label>
				<input id="holiday" name="daysHoliday" required="required" ng-model="infoFormData.daysHoliday"/>
			</div>
			<div class="form-row">
				<label for="repay-student-loan">Repay Student Loan</label>
				<input id="repay-student-loan" name="repayStudentLoan" type="checkbox"
				       ng-model="infoFormData.repayStudentLoan"/>
			</div>
			<div class="form-row">
				<button ng-click="calculate()">Calculate</button>
			</div>
		</form>
	</div>
	<div class="results-container">
		<div class="result-set" ng-repeat="result in results">
			<a href="#" ng-click="removeResultAt($index);$event.preventDefault()">X</a>
			<nav>
				<button ng-repeat="year in taxData.years" ng-click="calculateForYear($parent.result, year)">{{
					year.label }}
				</button>
			</nav>
			<div class="tab-content">
				<table>
					<thead>
					<tr>
						<td></td>
						<td ng-repeat="term in paymentTerms">{{ term }}</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Gross income</td>
						<td>{{ result.annualSalary | currency }}</td>
						<td>{{ result.annualSalary / 12 | currency }}</td>
						<td>{{ result.annualSalary / 52 | currency }}</td>
						<td>{{ result.annualSalary / result.daysWorked | currency }}</td>
						<td>{{ result.annualSalary / result.hoursWorked | currency }}</td>
					</tr>
					<tr>
						<td>Income tax</td>
						<td>{{ result.data.tax | currency }}</td>
						<td>{{ result.data.tax / 12 | currency }}</td>
						<td>{{ result.data.tax / 52 | currency }}</td>
						<td>{{ result.data.tax / result.daysWorked | currency }}</td>
						<td>{{ result.data.tax / result.hoursWorked | currency }}</td>
					</tr>
					<tr>
						<td>National insurance</td>
						<td>{{ result.data.ni | currency }}</td>
						<td>{{ result.data.ni / 12 | currency }}</td>
						<td>{{ result.data.ni / 52 | currency }}</td>
						<td>{{ result.data.ni / result.daysWorked | currency }}</td>
						<td>{{ result.data.ni / result.hoursWorked | currency }}</td>
					</tr>
					<tr ng-if="result.repayStudentLoan">
						<td>Student loan</td>
						<td>{{ result.data.studentLoan | currency }}</td>
						<td>{{ result.data.studentLoan / 12 | currency }}</td>
						<td>{{ result.data.studentLoan / 52 | currency }}</td>
						<td>{{ result.data.studentLoan / result.daysWorked | currency }}</td>
						<td>{{ result.data.studentLoan / result.hoursWorked | currency }}</td>
					</tr>
					<tr>
						<td>Total deductions</td>
						<td>{{ result.data.deductions | currency }}</td>
						<td>{{ result.data.deductions / 12 | currency }}</td>
						<td>{{ result.data.deductions / 52 | currency }}</td>
						<td>{{ result.data.deductions / result.daysWorked | currency }}</td>
						<td>{{ result.data.deductions / result.hoursWorked | currency }}</td>
					</tr>
					<tr>
						<td>Net income</td>
						<td>{{ result.data.netIncome | currency }}</td>
						<td>{{ result.data.netIncome / 12 | currency }}</td>
						<td>{{ result.data.netIncome / 52 | currency }}</td>
						<td>{{ result.data.netIncome / result.daysWorked | currency }}</td>
						<td>{{ result.data.netIncome / result.hoursWorked | currency }}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>